<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farm.mapper.OrderInfoMapper">
    <update id="deleteById">
        update order_info set
            update_time = now() ,
            is_deleted = 1
        where
            id = #{id}
    </update>
    <update id="updateById">
        update order_info set
        <if test="userId != null and userId != ''">
            user_id = #{userId},
        </if>
        <if test="nickName != null and nickName != ''">
            nick_name = #{nickName},
        </if>
        <if test="orderNo != null and orderNo != ''">
            order_no = #{orderNo},
        </if>
        <if test="couponId != null and couponId != ''">
            coupon_id = #{couponId},
        </if>
        <if test="totalAmount != null and totalAmount != ''">
            total_amount = #{totalAmount},
        </if>
        <if test="couponAmount != null and couponAmount != ''">
            coupon_amount = #{couponAmount},
        </if>
        <if test="originalTotalAmount != null and originalTotalAmount != ''">
            original_total_amount = #{originalTotalAmount},
        </if>
        <if test="feightFee != null and feightFee != ''">
            feight_fee = #{feightFee},
        </if>
        <if test="payType != null">
            pay_type = #{payType},
        </if>
        <if test="orderStatus != null">
            order_status = #{orderStatus},
        </if>
        <if test="receiverName != null and receiverName != ''">
            receiver_name = #{receiverName},
        </if>
        <if test="receiverPhone != null and receiverPhone != ''">
            receiver_phone = #{receiverPhone},
        </if>
        <if test="skuName != null and skuName != ''">
            sku_name = #{skuName},
        </if>
        <if test="receiverProvince != null and receiverProvince != ''">
            receiver_province = #{receiverProvince},
        </if>
        <if test="receiverCity != null and receiverCity != ''">
            receiver_city = #{receiverCity},
        </if>
        <if test="receiverDistrict != null and receiverDistrict != ''">
            receiver_district = #{receiverDistrict},
        </if>
        <if test="receiverAddress != null and receiverAddress != ''">
            receiver_address = #{receiverAddress},
        </if>
        <if test="paymentTime != null">
            payment_time = #{paymentTime},
        </if>
        <if test="deliveryTime != null">
            delivery_time = #{deliveryTime},
        </if>
        <if test="receiveTime != null">
            receive_time = #{receiveTime},
        </if>
        <if test="remark != null and remark != ''">
            remark = #{remark},
        </if>
        <if test="cancelTime != null and cancelTime != ''">
            cancel_time = #{cancelTime},
        </if>
        <if test="cancelReason != null and cancelReason != ''">
            cancel_reason = #{cancelReason},
        </if>
        update_time =  now()
        where
        id = #{id}
    </update>
    <select id="selectOrderStatistics" resultType="com.farm.model.entity.order.OrderStatistics">
        select DATE_FORMAT(oi.create_time ,'%Y-%m-%d') orderDate, sum(oi.total_amount)  totalAmount , count(oi.id) totalNum
        from order_info oi where DATE_FORMAT(oi.create_time ,'%Y-%m-%d') = #{createTime}
        GROUP BY DATE_FORMAT(oi.create_time ,'%Y-%m-%d')
    </select>
    <select id="getallOrder" resultType="com.farm.model.entity.order.OrderInfo">
        select *
        from order_info
        where is_deleted = 0
        order by id desc
    </select>
</mapper>